
	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
	<!-- FullScreen -->
    <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
			<h1 id="namePage" class="h1_home wow fadeIn" data-wow-delay="0.4s">Easy Driver</h1>
			<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Safe & Secure</h3>
			<ul class="list-inline intro-social-buttons">
				<li><a href="https://twitter.com/galantiandrea" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Sing In</span></a>
				</li>
				<li id="download" ><a href="#downloadlink" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s" style="background-color: rgba(243, 243, 243, 0)
"><span class="network-name">Sing Up</span></a>
				</li>
			</ul>
		</div>    
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down "> 
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <%= image_tag "icon/circle.png", :class => "img_scroll"%></a>
			</div>
		</div>
    </div>
	
	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home">Easy Driver</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					
					<li class="menuItem"><a href="#whatis">Nosotros</a></li>
					<li class="menuItem"><a href="#useit">Beneficios</a></li>
					<li class="menuItem"><a href="#screen">Screenshot</a></li>
					<li class="menuItem"><a href="#credits">Servicio</a></li>
					<li class="menuItem"><a href="#downloadlink">Download</a></li>
				</ul>
			</div>
		   
		</div>
	</nav> 
	
	<!-- whatis -->
	<div id="whatis" class="content-section-a">
		<div class="container">
			<div class="row">
			
			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Sobre Nosotros</h2>
				<p class="lead" style="margin-top:0">Safe & Secure</p>
			 </div>
			 
				<div class="col-sm-6  block wow bounceIn">
					<div class="row">
						<div class="col-md-4 box-icon rotate"> 
							<%= image_tag "icon/driver.png"%>
						</div>
						<div class="col-md-8 box-ct">
							<h3> Conductores </h3>
							<p> Nuestros choferes cuentan con una amplia experiencia y gran profesionalismo, 
							respaldado por una larga trayectoria. </p>
						</div>
				  </div>
			  </div>
			  <div class="col-sm-6 block wow bounceIn">
					<div class="row">
					  <div class="col-md-4 box-icon rotate"> 
						<%= image_tag "icon/motorcycle.png"%>
					  </div>
					  <div class="col-md-8 box-ct">
						<h3> Vehiculos </h3>
						<p> Contamos con una gran flota de motocicletas de una gran calidad,
						las cuales recien han sido adquiridas y poseen un gran confort.</p> 
					  </div>
					</div>
			  </div>
		  </div>
		  
		  <div class="row tworow">
				<div class="col-sm-6  block wow bounceIn">
					<div class="row">
						<div class="col-md-4 box-icon rotate"> 
							<%= image_tag "icon/timer.png"%>
						</div>
						<div class="col-md-8 box-ct">
							<h3> 30 Minutos</h3>
							<p> Nuestro servicio efectivo sumado al estudio de las rutas de Lima
							garantiza que estaremos donde tu nos necesites en menos de 30 minutos. </p>
						</div>
				  </div>
			  </div>
			  <div class="col-sm-6 block wow bounceIn">
					<div class="row">
					  <div class="col-md-4 box-icon rotate"> 
						<%= image_tag "icon/customers.png"%>
					  </div>
					  <div class="col-md-8 box-ct">
						<h3> Clientes</h3>
						<p> Nuestra gran cantidad de clientes satisfechos respaldan nuestro
						profesionalismo y compromiso por brindar un servicio de seguro y de calidad.</p> 
					  </div>
					</div>
			  </div>
		  </div>
		</div>
	</div>
	
	<!-- Use it -->
    <div id ="useit" class="content-section-a">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-6 pull-right wow fadeInRightBig">
                    <%= image_tag "img/traffic.jpeg"%>
                </div>
				
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                    <h3 class="section-heading">No mas Trafico</h3>
					<div class="sub-title lead3">Safe & Secure</div>
                    <p class="lead">
						Ofrecemos un servicio basado en motocicletas
						y aprovechamos al 100% las entajas que estas nos brindan.
						Por lo que ofrecemos a nuestros clientes la 
						posibilidad de llegar mas rapido a sus destinos 
						y no preocuparse mas por el trafico.
					</p>
					<!--
					 <p><a class="btn btn-embossed btn-primary" href="#" role="button">View Details</a> 
					 <a class="btn btn-embossed btn-info" href="#" role="button">Visit Website</a></p>
					 -->
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>

    <div class="content-section-b"> 
		
		<div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInLeftBig">
                     <div id="owl-demo-1" class="owl-carousel">
						<a href="img/iphone.png" class="image-link">
							<div class="item">
								 <%= image_tag "img/100.jpeg"%>
							</div>
						</a>
						<a href="img/iphone.png" class="image-link">
							<div class="item">
								 <%= image_tag "img/punctuallity.jpeg"%>
							</div>
						</a>
						<a href="img/iphone.png" class="image-link">
							<div class="item">
								 <%= image_tag "img/traffic.jpeg"%>
							</div>
						</a>
					</div>       
                </div>
				
                <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">   
                	<h3 class="section-heading">100% Efectivo</h3>
                    <p class="lead">Nos preocupamos en que nuestros clientes reciban 
                    una rapida atencion, por lo cual ofrecemos una rapida reaccion 
                    ante una solicitud de servicio. 
					</p>
					
					<ul class="descp lead2">
						<li><span class="glyphicon glyphicon-ok"></span> Contamos con flotas modernas de vehiculos.</li>
						<li><span class="glyphicon glyphicon-ok"></span> Llegamos en 30 minutos o el servicio es gratis.</li>
						<li><span class="glyphicon glyphicon-ok"></span> No te preocupes por tu auto, lo cuidaremos por ti.</li>
					</ul>
                    
					<!--
					 <p><a class="btn btn-embossed btn-primary" href="#" role="button">View Details</a> 
					 <a class="btn btn-embossed btn-info" href="#" role="button">Visit Website</a></p>
					 -->
				</div>  			
			</div>
        </div>
    </div>

    <div class="content-section-a">

        <div class="container">

             <div class="row">
			 
				<div class="col-sm-6 pull-right wow fadeInRightBig">
                    <%= image_tag "img/punctuallity.jpeg"%>
                </div>
			 
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                    <h3 class="section-heading">LLega Puntual</h3>
					<div class="sub-title lead3">Cero tardanzas<br/>Cero demoras</div>
                    <p class="lead">
						Debido a nuestro estudio realizado sobre todas las 
						posibles rutas descongestionadas, y sumado a la ventaja 
						de andar sobre una motocicleta, aseguramos mayor puntualidad y cero demoras.
					</p>

				</div>           
            </div>
        </div>

    </div>

	
	<div id="screen" class="content-section-c ">
		<div class="container">
			<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center white">
				<h2>Screenshot</h2>
				<p class="lead" style="margin-top:0">Simple & Effective</p>
			 
				<div class="mockup-content">
						<div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1"  style="display:none;">
							<button type="button "><span>Subscribe to our Newsletter</span></button>
						</div>
				<div class="row wow bounceInUp" >
	              <div id="owl-demo" class="owl-carousel">
					
				    <a href="/assets/slide/1.png" class="image-link">
						<div class="item">
							<%= image_tag "slide/1.png", :class =>"img-responsive img-rounded", :alt => 'Owl Image'%>
						</div>
					</a>
					
	               <a href="/assets/slide/2.png" class="image-link">
						<div class="item">
							<%= image_tag "slide/2.png", :class =>"img-responsive img-rounded", :alt => 'Owl Image'%>
						</div>
					</a>
					
					<a href="/assets/slide/3.png" class="image-link">
						<div class="item">
							<%= image_tag "slide/2.png", :class =>"img-responsive img-rounded", :alt => 'Owl Image'%>
						</div>
					</a>
					
					<a href="/assets/slide/1.png" class="image-link">
						<div class="item">
							<%= image_tag "slide/1.png", :class =>"img-responsive img-rounded", :alt => 'Owl Image'%>
						</div>
					</a>
					
	               <a href="/assets/slide/2.png" class="image-link">
						<div class="item">
							<%= image_tag "slide/2.png", :class =>"img-responsive img-rounded", :alt => 'Owl Image'%>
						</div>
					</a>
					
					<a href="/assets/slide/3.png" class="image-link">
						<div class="item">
							<%= image_tag "slide/3.png", :class =>"img-responsive img-rounded", :alt => 'Owl Image'%>
						</div>
					</a>
	              </div>       
				</div>
			</div>	
			</div>
		</div>
	</div>	
	</div>
	<!-- What is -->
	<div id="credits" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Servicio</h2>
				<p class="lead" style="margin-top:0">Safe & Secure</p>
			</div>
			
			<div class="row">
			
				<div class="col-sm-4 wow fadeInDown text-center">
				  <%= image_tag "icon/number_1.png", :class => "rotate"%>
				  <h3>Ingresa al App</h3>
				  <p class="lead">Para mayor comodidad nuestros equipo ha desarrollado una  
				  aplicacion elegante y sencilla de manejar, la cual esta disponible para Android y IOS.</p>

				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
				<div class="col-sm-4 wow fadeInDown text-center">
				  <%= image_tag "icon/number_2.png", :class => "rotate"%>
				   <h3>Solicita el Servicio</h3>
				   <p class="lead">Solicita nuestro apoyo y tan solo indicandonos tu ubicacion, 
				   activando tu GPS, uno de nuestro chofer se acercara hacia tu posicion.</p>
				   <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
				<div class="col-sm-4 wow fadeInDown text-center">
				  <%= image_tag "icon/number_3.png", :class => "rotate"%>
				   <h3>Realiza la Inversion</h3>
					<p class="lead">Finalmente, debera realizar el pago por medio del aplicativo ingresando una tarjeta o
					confirmando alguna previamente ingresada.<p>
				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
			</div><!-- /.row -->
			</div>
	</div>
	
	<!-- Banner Download -->
	<div id="downloadlink" class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Descarga Nuestra App</h2>
				<p class="lead" style="margin-top:0">Simple & Effective<br/>
													Unete a Nuestra Comunidad</p>
				<p><a class="btn wow tada  btn-embossed btn-primary view" role="button">Android</a></p> 
				<p><a class="btn wow tada  btn-embossed btn-primary view" role="button">	IOS</a></p> 
			 </div>
			</div>
		</div>
	</div>
	
	<!-- Contact -->
	<!--
	<div id="contact" class="content-section-a">
		<div class="container">
			<div class="row">
			
			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Contactanos</h2>
				<p class="lead" style="margin-top:0">Preguntanos lo que desees.</p>
			</div>
			
			<form role="form" action="" method="post" >
				<div class="col-md-6">
					<div class="form-group">
						<label for="InputName">Nombre</label>
						<div class="input-group">
							<input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="InputEmail">Email</label>
						<div class="input-group">
							<input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required  >
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="InputMessage">Mensaje</label>
						<div class="input-group">
							<textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>

					<input type="submit" name="submit" id="submit" value="Enviar" class="btn wow tada btn-embossed btn-primary pull-right">
				</div>
			</form>
			
			<hr class="featurette-divider hidden-lg">
				<div class="col-md-5 col-md-push-1 address">
					<address>
					<h3>Oficina</h3>
					<p class="lead"><a href="https://www.google.com/maps/preview?ie=UTF-8&q=The+Pentagon&fb=1&gl=us&hq=1400+Defense+Pentagon+Washington,+DC+20301-1400&cid=12647181945379443503&ei=qmYfU4H8LoL2oATa0IHIBg&ved=0CKwBEPwSMAo&safe=on"><br>
					Lima, San Isidro </a><br>
					Telefono: 999 - 999 - 999<br>
					Fax: 777 - 777 - 777</p>
					</address>

					<h3>Redes Sociales</h3>
					<li class="social"> 
					<a href="#"><i class="fa fa-facebook-square fa-size"> </i></a>
					<a href="#"><i class="fa  fa-twitter-square fa-size"> </i> </a> 
					<a href="#"><i class="fa fa-google-plus-square fa-size"> </i></a>
					<a href="#"><i class="fa fa-flickr fa-size"> </i> </a>
					</li>
				</div>
			</div>
		</div>
	</div>
	-->
	
	
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h3 class="footer-title">Easy Driver</h3>
            <p>Safe & Secure<br/>
            	Empresa de transporte<br/>
            	
            	Desarrollado por Yesferal Cueva
            </p>
			
			<!-- LICENSE -->
			<a rel="cc:attributionURL" href="http://www.andreagalanti.it/flatfy"
		   property="dc:title">Flatfy Theme </a> creado por
		   <a rel="dc:creator" href="http://www.andreagalanti.it"
		   property="cc:attributionName">Andrea Galanti.</a>
		  
	   
          </div> <!-- /col-xs-7 -->

          <div class="col-md-5">
            <div class="footer-banner">
              <h3>Redes Sociales</h3>
					<li class="social"> 
					<a href="#"><i class="fa fa-facebook-square fa-size"> </i></a>
					<a href="#"><i class="fa  fa-twitter-square fa-size"> </i> </a> 
					<a href="#"><i class="fa fa-google-plus-square fa-size"> </i></a>
					<a href="#"><i class="fa fa-flickr fa-size"> </i> </a>
					</li>
					<p>UPC - San Isidro<br/>
            	Aplicaciones para Dispositivos Moviles<br/></p>
            </div>
          </div>
        </div>
      </div>
    </footer>


<script>
    var easy_driver = new Firebase("https://easydriveryesferal.firebaseio.com/driver");
    
    /*var driver1 ={
        firstName: "Pepe",
        lastName: "Perez Palau",
        numLicence: "E07847518",
        driveBike: true,
        driveCar: true,
        state: "Activo"
    };
    easy_driver.push(driver1);*/
    
    easy_driver.onAuth(function(data){
        if(data){
            easy_driver.on("child_added", function(snapshot){
               //document.getElementById("namePage").textContent = snapshot.val().name;
               //console.log("Se ha añadido el elemento");
               
               var driver = document.createElement("drivers");
               driver.setAttribute("id", snapshot.key());
               driver.innerHTML = HTMLDrivers(snapshot.val());
               document.getElementById("divDrivers").appendChild(driver);
            });
            
            easy_driver.on("child_changed", function(snapshot){
                var driverChange = document.getElementById(snapshot.key());
                driverChange.innerHTML = HTMLDrivers(snapshot.val());
            });
        }else{
            console.log("Usuario no autenticado");
             // Si hace Log Off deberia Deribar a otra pagina o limpiar la pagina
        }
        
    });
    var user = {
        firstName: "Yesferal",
        lastName: "Cueva Sanchez",
        email: "yesferal@easydriver.com",
        password: "12345"
    };
    
    /*easy_driver.createUser(user, function(error){
        if(error){
            console.log("Error "+error.code);
        }else{
            console.log("Usuario se ha Registrado");
        }
    });*/
    
    //easy_driver.authWithPassword(user);
    easy_driver.unauth();
    
    // --- UTIL -----------------
    function HTMLDrivers(data){
        var content = "<h3>" + data.lastName+", "+data.firstName + "</h3>";
       content += "<p> N° de Licencia " + data.numLicence + " - Conductor "+data.state+"</p>";
       return content;
    }
    </script>
    

